@tailwind base;
@tailwind components;
@tailwind utilities;

.overflow-x-auto::-webkit-scrollbar {
  display: none;
}

.overflow-x-auto {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Toastify custom styles */
@media (max-width: 640px) {
  .Toastify__toast-container {
    width: 80% !important;
    left: 60% !important;
    transform: translateX(-50%) translateY(60px) !important;
    top: 1rem !important;
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

main {
  animation: fadeIn 0.3s ease-in-out;
}